header, footer {
    background-color: rgb(43, 91, 180);
}

.page-header {
    padding: 5px;
    margin: 5px;
    color: white;
    font-family: Arial;
}

header ul {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        background-color: rgb(43, 91, 180);
}


header li a {
    display: block;
    text-decoration: none;
}

header li a:hover {
    background-color: rgb(43, 91, 180);
    color: white;
}

h1 {
    color: rgb(43, 91, 180);
}


.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 5px solid rgb(43, 91, 180);
}

.button1:hover {
  background-color: blue;
  color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

h3 {
    background-color: white;
    color: black;
    border: 2pc
    padding: 4px;
    border-radius: 10px;
}

.col-sm-3half {
    min-height: 1px;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(9, 45, 110);
    margin: 10px;
}

.col-sm-8half {
    position: relative;
    min-height: 1px;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(43, 91, 180);
    margin: 10px;
}

@media (min-width: 768px) {
    .col-sm-3half, .col-sm-8half {
        float: left;
        text-align: center;
    }
    .col-sm-3half {
        width: 18%;
    }
    .col-sm-8half {
        width: 51%;
    }
}

.col-sm-11 {
    width: 70%;
    position: relative;
    min-height: 1px;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(43, 91, 180);
    margin: 10px;
}

.col-sm-10 {
    width: 70%;
    position: relative;
    min-height: 1px;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(43, 91, 180);
    margin: 10px;
}

.container3 {
    padding: 8px;
    margin: 55px;
    background-color:rgb(43, 91, 180);
    border-radius: 10px;
    font-family: Arial;
    color: white
}


container1 {
    padding: 8px;
    margin: 55px;
    background-color:rgb(43, 91, 180);
    border-radius: 10px;
    text-align: center;
}

container2 {
    padding: 8px;
    margin: 55px;
    border-radius: 10px;
    font-family: Arial;
    color: rgb(43, 91, 180);
    background-color:rgb(43, 91, 180);
}
