body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

header {
    background-color: rgb(182, 193, 204);
    color: black;
    text-align: center;
    font-size: 100px;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
