body {
    background-image: lightblue;
  }

header,footer {
    background-color: blue;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    clear:left;
}

p {
   background-color: aquamarine;
   border-radius: 20px;
   padding: 5px 10px 15px 20px;
   margin: 5px 10px 15px 20px;
}

nav {
    background-color: bisque;
    padding: 1em;
}

.wrapper {
    display:flex;
}

.wrapper >div {
    flex:1;
    text-align: center;
}
section {
    float:left;
    width: 65%;
    color: blue;
    height: 230px;
}

aside {
    float: right;
    width: 25%;
    color: blue;
    height: 430px;
    padding: 1em;
}

article {
    float: left;
    width: 65%;
    color: blue;
    height: 230px;
    padding: 1em;
}

.myDiv {
    border: 2px dotted rgb(4, 0, 255);
    background-color: white;
    text-align: center;
}