body {
    background: black;
}

.white {
    color: white;
}

.green {
    color: green;
}

.myDiv {
    width: 100px;
    height: 100px;
    border: 2px dotted red;
    background-color: black;
    text-align: center;
}

.myDiv2 {
    width: 100px;
    height: 100px;
    border: 2px dotted red;
    background-color: black;
    text-align: center;
}

h1 {
    font-size: x-large;

}

p  {
    font-size: small;
}