header, footer {
    background-color: rgb(43, 91, 180);
}

h1 {
    color: rgb(43, 91, 180);
}

h3 {
    background-color: white;
    border: 2pc
}

a {

}

.container1 {
    padding: 8px;
    margin: 55px;
    background-color:rgb(43, 91, 180);
    border-radius: 10px;
    text-align: center;
}

.container2 {
    padding: 8px;
    margin: 55px;
    background-color:rgb(43, 91, 180);
    border-radius: 10px;
    font-family: Arial;
    color: rgb(43, 91, 180);
}

.container3 {
    padding: 8px;
    margin: 55px;
    background-color:rgb(43, 91, 180);
    border-radius: 10px;
    font-family: Arial;
    color: white
}

.page-header {
    padding: 5px;
    margin: 5px;
    color: white;
    font-family: Arial;
}

header ul {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        background-color: rgb(43, 91, 180);


}
header li a {
    display: block;
    color: white;
    text-decoration: none;
}

header li a:hover {
    background-color: rgb(43, 91, 180);
    color: white;
}
